body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas: "search forecast"
                       "current forecast";
  gap: 10px;
  height: 100vh;
  margin: 0;
  padding: 16px;
  box-sizing: border-box;
  background-image: url("assets/sunny.webp");
  background-size: cover;
  background-position: center;
}

:root {
  --widget-color-day: rgb(86 160 255 / 0.47);
  --mobile-bg-color-day: #81b0f1;
}

#search {
  grid-area: search;
  display: flex;
  height: fit-content;
}

#searchBar {
  padding: 6px;
  border-radius: 12px;
  border: black 2px solid;
  width: 100%;
  margin-right: 8px;
  height: 24px;
}

#searchButton {
  padding: 8px;
  border-radius: 9999px;
  border: black 2px solid;
  font-weight: bold;
  background-color: #60bcdf;
}

#searchButton:hover {
  background-color: #93d5ef;
}

#searchButton:active {
  background-color: #2884a6;
}

#currentWeather {
  grid-area: current;
  display: grid;
  grid-template-areas:
    "currLocation"
    "currStatus"
    "currTemp"
    "currPress"
    "currWind";
  gap: 8px;
  height: fit-content;
  align-self: end;
  background-color: var(--widget-color-day);
  padding: 16px;
  color: white;
  border-radius: 24px;
  font-family: Arial, serif;
}

#currentLocation {
  grid-area: currLocation;
}

#currentStatus {
  grid-area: currStatus;
}

#currentTemperature {
  grid-area: currTemp;
}

#currentTemperatureValue {
  font-size: 64px;
}

#currentFeelsLike {
  grid-area: currFeels;
}

#currentPressure {
  grid-area: currPress;
}

#currentWind {
  grid-area: currWind;
}

#forecastWeather {
  grid-area: forecast;
  overflow-y: auto;
  overflow-x: hidden;

  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.7) transparent;
}

.forecastItem {
  display: grid;
  grid-template-areas:
    "forecastDateTime forecastStatus"
    "forecastTemp forecastTemp"
    "forecastPress forecastWind";
  gap: 4px;
  height: fit-content;
  background-color: var(--widget-color-day);
  padding: 12px;
  color: white;
  border-radius: 16px;
  font-family: Arial, serif;
  margin-bottom: 16px;
}

.forecastDateTime {
  grid-area: forecastDateTime;
}

.forecastStatus {
  grid-area: forecastStatus;
}

.forecastTemperature {
  grid-area: forecastTemp;
}

.forecastPressure {
  grid-area: forecastPress;
}

.forecastWind {
  grid-area: forecastWind;
}

#attributions {
  display: none;
}

@media screen and (max-width: 950px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr;
    grid-template-areas:
      "search"
      "current"
      "forecast";
    gap: 10px;
    height: fit-content;
    background: var(--mobile-bg-color-day);
  }

  #forecastWeather {
    overflow-y: auto;
    overflow-x: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }

  .forecastItem {
    grid-template-areas:
    "forecastStatus forecastStatus"
    "forecastDateTime forecastDateTime"
    "forecastTemp forecastTemp"
    "forecastPress forecastWind";
    gap: 4px;
    height: fit-content;
    padding: 12px;
    margin-bottom: 0;
  }

  .forecastStatusText {
    display: none;
  }

  .forecastStatus {
    font-size: 32px;
  }

  .forecastDateTime, .forecastStatus, .forecastTemperature, .forecastPressure, .forecastWind {
    text-align: center;
  }

  .forecastTemperatureValue {
    font-size: 32px
  }
}

@media screen and (max-width: 660px) {
  .forecastItem {
    grid-template-areas:
    "forecastStatus"
    "forecastDateTime"
    "forecastTemp"
    "forecastPress"
    "forecastWind";
  }

  .forecastFeelsLikeText {
    display: none;
  }
}
