body {
  background-color: #e6f1fc;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas: "search forecast"
                       "current forecast";
  gap: 10px;
  height: 100vh;
  margin: 0;
  background-image: url("assets/sunny.webp");
  background-size: cover;
  background-position: center;
}

#search {
  grid-area: search;
}

#currentWeather {
  grid-area: current;
  display: grid;
  grid-template-areas:
    "currLocation currLocation"
    "currTemp currFeels"
    "currPress currPress"
    "currWind currWind";
/* TODO: Make the layout stick to the bottom */
}

#currentLocation {
  grid-area: currLocation;
}

#currentTemperature {
  grid-area: currTemp;
}

#currentFeelsLike {
  grid-area: currFeels;
}

#currentPressure {
  grid-area: currPress;
}

#currentWind {
  grid-area: currWind;
}

#forecastWeather {
  grid-area: forecast;
}

#attributions {
  display: none;
}
