body {
  background-color: #e6f1fc;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.colLeft, .colRight {
  display: flex;
  flex-direction: column;
  container-type: inline-size;
}

#map {
  width: 100%;
  border: 2px black solid;
  min-height: 60cqw;
}

#puzzleBox {
  width: 100%;
  border: 2px black solid;
  height: 60cqw;
}

#btnWrapper, #puzzles {
  margin-top: 10px;
}

#puzzles {
  display: flex;
  flex-wrap: wrap;
}

.puzzle {
  height: calc(60cqw / 4);
  width: calc(100% / 4);
  margin: 0;
}
