body {
    background-color: #000;
    background-image: linear-gradient(135deg, #1e0000 0%, #3d0000 50%, #1e0000 100%);
    margin: 0;
    color: #eee;
}

header {
    background-color: #3d0000;
    border-bottom: #eee 5px solid;
    padding: 12px;
    text-align: center;
}

.neon-sign {
    font-family: 'Monoton', 'cursive';
    color: #fff;
    font-size: 2em;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #9D00FF, 0 0 55px #9D00FF, 0 0 75px #9D00FF;
}

.screen {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr auto;

    grid-template-areas:
    "main aside"
    "footer footer";

    padding: 0;
    margin: 0;
}

main {
    grid-area: main;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: 1fr 1fr;
    padding-left: 8px;
}

aside {
    grid-area: aside;
}

footer {
    grid-area: footer;
}

img {
    display: block;
    width: 100%;
    border: #eee 3px solid;
    box-sizing: border-box;
}

.arcade-overlay, .arcade-overlay-tall {
    display: none;
}

p {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;

    font-size: 1.2em;
    text-align: justify;
}

h1, h2, h3 {
    font-family: "Workbench", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "BLED" 0,
            "SCAN" 0;

    color: #da8282;
}

li {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "ROND" 0;

    font-size: 1.3em;
    color: #fff;
    position: relative;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

footer {
    background-color: #3d0000;
    border-top: #eee 5px solid;
    padding: 12px;
}

ul {
    list-style: none;
    padding-left: 1.4em;
}

ul li::before {
    content: "";
    width: 0.45em;
    height: 0.45em;
    background: currentColor;
    position: absolute;
    left: -0.95em;
    top: 0.4em;
    transform: rotate(45deg);
}

.copyright {
    text-align: center;
}

.aside_option {
    font-family: "Doto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
            "ROND" 0;

    display: block;
    width: 100%;
    border: none;
    background: none;
    color: #fff;
    font-size: 1.3em;
    padding: 12px 0;
    border-bottom: #fff 1px solid;
}

.aside_option:last-child {
    border-bottom: none;
}

.aside_option:hover {
    background-color: #3d0000;
}

.aside_option:active {
    background-color: #540303;
}

@media screen and (max-width: 1080px) {
    main {
        grid-template-columns: 1fr;
    }

    .screen {
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr auto;

        grid-template-areas:
    "main aside"
    "footer footer";

        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 620px) {
    main {
        grid-template-columns: 1fr;
        padding-right: 8px;
    }

    .screen {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto auto;

        grid-template-areas:
    "main"
    "aside"
    "footer";
    }

    aside {
        border-top: #fff 5px solid;
    }
}
